    h1
   {
      font-family: 'copse';
      font-size: 60px;
      letter-spacing: 10px;
      color: #2b502f;
      margin-left: 95px;
      margin-top: 80px;
   }
   body
   {
      background-image: url('/visualelements/1.png');
      background-size: cover;
      background-attachment: fixed;

   }
   label
   {
      font-family: 'josefin sans';
      font-size: 20px;
      color: #5e8e44;
   }
   .text1
   {
      font-size: 30px;
      margin-left: 200px;
   }
   select
   {
      width: 15%;
      margin-left: 250px;
      margin-top: 10px;
      font-family: 'quicksand';
      font-size: 15px;
      font-weight: bold;
   }
   input[type=number]
   {
      width: 12%;
      margin-left: 90px;
      border-radius: 10px;
      font-family: 'quicksand';
      text-align: center;
      font-size: 13px;
      font-weight: bold;
   }
   input[type=button]
   {
      background-color: #ebbba7;
      width: 4%;
      border-radius: 10px;
   }
   h2
   {
      width: 50%;
      text-align: center;
      font-family: 'comfortaa';
      font-size: 35px;
      color: #5e8e44;
      font-weight: bold;
   }
   a
   {
      background-color: #ebbba7;
      border-radius: 10px;
      padding: 8px;
      text-decoration: none;
      font-family: 'josefin sans';
      font-size: 17px;
      color: #5e8e44;
      border: 1px solid black;
      margin-left: 250px;
      margin-top: 250px;
   }
   a:hover
   {
      font-size: 20px;
   }
