
   body
   {
      background-image: url("../visualelements/1.png");
      background-size: cover;
      background-attachment: fixed;

   }

  .main-con
{
  width: 50%;
  height: 100%;
}
    .title-con, .text1, .concl-con, .footer-con
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .title-con p
   {
      font-family: 'copse';
      font-size: 60px;
      letter-spacing: 10px;
      color: #2b502f;
      margin-top: 80px;
      font-weight: bold;  
   }
  .text1
   {
      font-size: 30px;
      font-family: 'josefin sans';
      color: #5e8e44;
   }

.select-con
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 select
   {
      width: 25%;
      margin-top: 10px;
      font-family: 'quicksand';
      font-size: 15px;
      font-weight: bold;    
   }

.label-con
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.label-con label
   {
      width: 40%;
      font-family: 'josefin sans';
      font-size: 20px;
      color: #5e8e44;
      margin-left: 15%;
   }
 
.output-con
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.output-con input[type=number]
  {
      width: 25%;
      border-radius: 10px;
      font-family: 'quicksand';
      text-align: right;
      font-size: 13px;
      font-weight: bold;
      margin-left: 15%;
  }
  
.output-con input[type=button]
  {
      background-color: #ebbba7;
      width: 9%;
      border-radius: 10px;
      margin-left: 1%;
  }
  
   .concl-con h2
   {
      text-align: center;
      font-family: 'comfortaa';
      font-size: 35px;
      color: #5e8e44;
      font-weight: bold;
      margin-bottom: 10%;
   }

   a
   {
      background-color: #ebbba7;
      border-radius: 10px;
      padding: 8px;
      text-decoration: none;
      font-family: 'josefin sans';
      font-size: 17px;
      color: #5e8e44;
      border: 1px solid black;

   }
   a:hover
   {
      font-size: 20px;
   }
