    .main-con
    {
        background-image: url("../visualelements/3.png");
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh;
        width: 100%;
    }
    .title-con
    {
        height: 25vh;
        width: 100%;
    }
    .title-con h1
    {
        font-family: 'Gravitas One';
        font-size: 55px;
        letter-spacing: 10px;
        text-align: center;
        margin-top: 10%;
        color: #253D5B;
        text-shadow: 1px 2px 1px #000;
    }
    .center-con
    {
        height: 60vh;
        width: 100%;
    }
    .center-con label
    {
        font-family: 'Marmelad';
        font-size: 30px;
        letter-spacing: 3px;
        text-align: center;
        margin: auto;
        color: #AC8181;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center-con input[type=number]
    {
        width: 20%;
        font-family: 'Open Sans';
        font-size: 15px;
        text-align: right;
        padding: 3px;
        color: black; 
        margin: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-weight: bold;
    }

    .button-con
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-con input[type=button]
    {
        font-family: 'Young Serif';
        font-size: 15px;
        background-color: #F8F8FF;
        width: 10%;
        border-radius: 10px;
        margin-right: 30px;
        padding: 5px; 
    }

    .button-con input[type=button]:hover
    {
        font-size: 18px;
    }

    .link-con
    {
        height: 100%;
        width: 100%;
    }
    .link-con a
   {
      background-color: #F8F8FF;
      border-radius: 10px;
      padding: 8px;
      text-decoration: none;
      font-family: 'Marmelad';
      font-size: 15px;
      color: #253D5B;
      border: 1px solid black;
   }
   .link-con a:hover
   {
      font-size: 18px;
   }
